<% provide(:title, 'Modifier Programme') %>
<h1>Modifier Programme</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@programme) do |f| %>
    <%= render 'shared/programme_error_messages' %>

      <%= f.label :name, "Nom" %>
      <%= f.text_field :name %>

      <%= f.label :description, "Description" %>
      <%= f.text_field :description %>
      <br />
      Modifier les exercices inclus dans ce programme:
      <br />
      <br />
      <%= hidden_field_tag "programme[exercise_ids][]", nil %>
      <% Exercise.all.each do |exercise| %>
      <%= image_tag exercise.image.url(:thumbnail) %>
      <%= check_box_tag "programme[exercise_ids][]", exercise.id, @programme.exercise_ids.include?(exercise.id), id: dom_id(exercise) %>
      <%= label_tag dom_id(exercise), exercise.name %>
      </br>
      <% end %>
      <%= f.submit "Modifier", class: "btn btn-large btn-primary" %>
      </br>
    <% end %>
    <%= link_to "Canceller et retourner a la liste de programmes", programmes_path %>
  </div>
</div>