<% provide(:title, 'Nouveau Programme') %>
<h1>Nouveau Programme</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@programme) do |f| %>
    <%= render 'shared/programme_error_messages' %>

      <%= f.label :name, "Nom" %>
      <%= f.text_field :name %>

      <%= f.label :description, "Description" %>
      <%= f.text_field :description %>

      <%= render 'progcheckboxes' %>
      <br />
      <div class="submitButton">
      <%= f.submit "Creer", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>