<% provide(:title, 'Nouveau Test') %>
<h1>Nouveau Test d'Evaluation</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@eval_test) do |f| %>
    <%= render 'shared/eval_test_error_messages' %>

      <%= f.label :name, "Nom" %>
      <%= f.text_field :name %>

      <%= f.label :description, "Description" %>
      <%= f.text_field :description %>

      <%= f.label :image, accept: 'image/png,image/jpeg'%>
      <%= f.file_field :image %>

      <%= f.label :video, "Video Youtube" %>
      <%= f.text_field :video %>

      <br />
      Ajouter les exercices recommandes pour ce test:
      </br>
      </br>
      <%= hidden_field_tag "eval_test[exercise_ids][]", nil %>
      <% Exercise.all.each do |exercise| %>
      <%= image_tag exercise.image.url(:thumbnail) %>
      <%= check_box_tag "eval_test[exercise_ids][]", exercise.id, @eval_test.exercise_ids.include?(exercise.id), id: dom_id(exercise) %>
      <%= label_tag dom_id(exercise), exercise.name %>
      </br>
      <% end %>
      <br />
      <%= f.submit "Creer", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>