<!doctype html>
<html>
<% provide(:title, 'Resultats pour athlete') %>
<body>
<h1>Resultats pour <%= link_to @first_record.athlete.name, @first_record.athlete %></h1>
<h1>Score: <%= @score %></h1>
</br>
Evaluation: <%= @first_record.evaluation.name %>
</br>
Date: <%= @first_record.created_at.strftime("%e %b, %Y, %H:%M") %>
</br>
Evaluateur: <%= link_to @first_record.user.name, @first_record.user %>
</br>
</br>
<td><%= link_to "Programme Corrective", programme_corrective_resultats_path(:resultat_id => @first_record.id) %></td>
</br>
<%= content_tag "canvas", id: "resultatsGraph", 
                          width: "500", 
                          height:"500", 
                          data: {labels: @labels, values: @chart_data} do %>
  Loading graphic...
<% end %>
<table class="resultats">
    <tr>
      <th>Img----</th>
      <th>---</th>
      <th>Test-----------------------</th>
      <th>Resultat</th>
    </tr>

<div class="row">
  <div class="span6 offset3">
    <% @resultats.each do |resultat| %>
      <tr>
        <td><%= image_tag resultat.eval_test.image.url(:thumbnail) %><td>
        <td><%= link_to resultat.eval_test.name, resultat.eval_test %></td>
        <td><%= resultat.value %></td>
      </tr>
    <% end %>
  </table>
</br>
</br>
</br>
</br>
  <%= link_to "Retour a l index des restultats", resultats_path %>
</body>
</html>
