<% provide(:title, 'Index des resultats') %>
<h1>Resultats pour <%= @first_record.evaluation.name %> </h1>
</br>
</br>
Evaluation: <%= @first_record.evaluation.name %>
</br>
Date: <%= @first_record.created_at.strftime("%e %b, %Y, %H:%M") %>
</br>
Evaluateur: <%= link_to @first_record.user.name, @first_record.user %>
</br>
</br>
</br>
<table class="resultats">
    <tr>
      <th>Athlete-----------------------</th>
      <th>Equipe-----------------------</th>
    </tr>

<div class="row">
  <div class="span6 offset3">
    <% @resultats.each do |resultat| %>
      <tr>
        <td><%= link_to resultat.athlete.name, athlete_resultats_path(:resultat_id => resultat.id) %></td>
        <% if resultat.equipe != nil %>
        <td><%= link_to resultat.equipe.name, resultat.equipe %></td>
        <% else %>
        <td>evaluation individuelle</td>
        <% end %>
      </tr>
    <% end %>
  </table>
</br>
</br>
</br>
  <%= link_to "Retour a l index des restultats", resultats_path %>
