<h1>Listing equipe_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @equipe_types.each do |equipe_type| %>
  <tr>
    <td><%= equipe_type.name %></td>
    <td><%= link_to 'Show', equipe_type %></td>
    <td><%= link_to 'Edit', edit_equipe_type_path(equipe_type) %></td>
    <td><%= link_to 'Destroy', equipe_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Equipe type', new_equipe_type_path %>
