<% provide(:title, 'Index des Exercises') %>
<h1>Index des exercises</h1>

<ul class="exercises">
  <% @exercises.each do |exercise| %>
    <li>
      <%= image_tag exercise.image.url(:thumbnail) %>
      <%= link_to exercise.name, exercise %> cree par:
      <%= link_to exercise.user.name, exercise.user %>
      <% if correct_exercise_user?(exercise.id) %>
        <%= link_to "(modifier,", modifier_exercise_path(:id => exercise.id) %>
        <%= link_to "supprimer)", exercise, :confirm => 'Supprimez exercise?', method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Creez une nouvelle exercise", nouvelle_exercise_path, class: "btn btn-large btn-primary" %>
