<% provide(:title, 'Nouvelle Exercise') %>
<h1>Nouvelle Exercise</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@exercise) do |f| %>
    <%= render 'shared/exercise_error_messages' %>

      <%= f.label :name, "Nom" %>
      <%= f.text_field :name %>

      <%= f.label :name, "Nom Court (10 Charact\ères)" %>
      <%= f.text_field :name %>

      <%= f.label :description, "Description" %>
      <%= f.text_field :description %>

      <%= f.label :name, "Prescription (10 Charact\ères)" %>
      <%= f.text_field :name %>

      <%= f.label :image, accept: 'image/png,image/jpeg'%>
      <%= f.file_field :image %>

      <%= f.label :video, "Video Youtube" %>
      <%= f.text_field :video %>

      <br />

      <%= f.submit "Creer", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>