<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "ADN", root_path , id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",   root_path %></li>
          <li><%= link_to "Decouvrir", decouvrir_path %></li>
          <li><%= link_to "Avantages", avantages_path %></li>
          <li><%= link_to "Ouverture de session", signin_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>