<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "ADN", root_path , id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",   root_path %></li>
          <li><%= link_to "Decouvrir", decouvrir_path %></li>
          <li><%= link_to "Avantages", avantages_path %></li>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Evaluations <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Tests", eval_tests_path %></li>
                <li><%= link_to "Exercices", exercises_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Evaluations", evaluations_path %></li>
                <li><%= link_to "Programmes", programmes_path %></li>
              </ul>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Fermeture de session", fermeture_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
          <li><%= link_to "Ouverture de session", ouverture_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>